# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/*
vcpkg_installed
cmake-build-*
UpgradeLog.htm
