<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p %c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.opentelemetry" level="info"/>
        <Logger name="org.apache.hadoop" level="info"/>
        <Logger name="org.apache.calcite.adapter" level="debug"/>
        <Logger name="org.apache.spark" level="info" />
        <Root level="${sys:log_level:-WARN}">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>